// 页面公共样式
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  box-sizing: border-box;
  color: $text-color-primary;
  font-size: 62.5%;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
}
#app {
  height: 100%;
  font-size: $font-size-base;
//   background-color: $classics-app-bg;
}

.svg-icon {
  width: $font-size-base;
  height: $font-size-base;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  @include hasEvent;
}
