@import "./common/variables/index.scss";
@import '~normalize.css/normalize.css';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  line-height: 1.2;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100%;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;

  @include genTheme('color', $color-text-regular);
  @include genTheme('background', $background-color-base);
  @include scroll-bar;
}

#app {
  min-height: 100%;
  font-size: $font-size-base;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include genTheme('background-image', $background-image-app);

  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  @include genTheme('color', $color-text-primary);
}

a {
  text-decoration: none;

  @include genTheme('color', $color-text-primary);
}

a:hover,
a:focus,
a:active {
  @include genTheme('color', $color-primary);
}

#nprogress .bar {
  @include genTheme('background-color', $color-primary, true);

  height: 3px;
}

.svg-icon {
  width: $font-size-base;
  height: $font-size-base;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  @include hasEvent;
}
