@import "./../../../archives/element-variables-blue.scss";

$color-primary: $--color-primary !default;
$color-white: $--color-white !default;
$background-color-base: $--background-color-base !default; //hover
$color-text-primary: $--color-text-primary !default;
$color-text-regular: $--color-text-regular !default;
$color-text-secondary: $--color-text-secondary !default;
$color-text-placeholder: $--color-text-placeholder !default;

$hover-background-color: $--hover-background-color !default;
$scrollbar-background-color: $--scrollbar-background-color !default;
$background-color-dark: rgba(mix(#000, $background-color-base, 15%), 0.9) !default;
$background-color-darker: rgba(mix(#000, $background-color-base, 25%), 0.9) !default;
$background-color-extra-dark: rgba(mix(#000, $background-color-base, 35%), 0.9) !default;
$background-color-light: rgba(mix(#fff, $background-color-base, 5%), 0.9) !default;
$background-color-lighter: rgba(mix(#fff, $background-color-base, 10%), 0.9) !default;
$background-color-extra-light: rgba(mix(#fff, $background-color-base, 15%), 0.9) !default;

$box-shadow-light: $--box-shadow-light !default;
$border-base: $--border-base !default;
