@import "./../../../archives/element-variables-blue.scss";

$color-primary: $--color-primary;
$background-color-base: $--background-color-base;
$color-text-primary: $--color-text-primary;
$color-text-regular: $--color-text-regular;
$color-text-secondary: $--color-text-secondary;
$color-text-placeholder: $--color-text-placeholder;
