@use './blue.scss' as blue-theme;
@use './rose.scss' as rose-theme;

$themeList: "blue", "rose";

$color-primary: ("blue": blue-theme.$color-primary, "rose": rose-theme.$color-primary,);

$color-text-primary: ("blue": blue-theme.$color-text-primary, "rose": rose-theme.$color-text-primary);

$color-text-regular: ("blue": blue-theme.$color-text-regular, "rose": rose-theme.$color-text-regular);

$color-text-secondary: ("blue": blue-theme.$color-text-secondary, "rose": rose-theme.$color-text-secondary);

$color-text-placeholder: ("blue": blue-theme.$color-text-placeholder, "rose": rose-theme.$color-text-placeholder);

$background-color: ("blue": blue-theme.$background-color, "rose": rose-theme.$background-color);
$hover-background-color: ("blue": blue-theme.$hover-background-color, "rose": rose-theme.$hover-background-color);
$scrollbar-background-color: ("blue": blue-theme.$scrollbar-background-color, "rose": rose-theme.$scrollbar-background-color);
$background-color-darker-1: ("blue": blue-theme.$background-color-darker-1, "rose": rose-theme.$background-color-darker-1);
$background-color-darker-2: ("blue": blue-theme.$background-color-darker-2, "rose": rose-theme.$background-color-darker-2);
$background-color-darker-3: ("blue": blue-theme.$background-color-darker-3, "rose": rose-theme.$background-color-darker-3);

$background-color-lighter-1: ("blue": blue-theme.$background-color-lighter-1, "rose": rose-theme.$background-color-lighter-1);
$background-color-lighter-2: ("blue": blue-theme.$background-color-lighter-2, "rose": rose-theme.$background-color-lighter-2);
$background-color-lighter-3: ("blue": blue-theme.$background-color-lighter-3, "rose": rose-theme.$background-color-lighter-3);

$background-image-app: ("blue": url("~@/assets/theme/images/blue/background-image-app.png"), "rose": url("~@/assets/theme/images/rose/background-image-app.png"));

$background-color-base: ("blue": blue-theme.$background-color-base, "rose": rose-theme.$background-color-base,);

$box-shadow-light: ("blue": blue-theme.$box-shadow-light, "rose": rose-theme.$box-shadow-light,);
$border-base: ("blue": blue-theme.$border-base, "rose": rose-theme.$border-base,);

// :export {
//   themelist: $themeList;
// }
