@import '../../common/variables/index.scss';
@import '../../common/mixins/utils.scss';
@import './header.scss';
@import './sidebar.scss';

.layout {
  height: 100%;

  .layout-wrapper {
    .layout-header {
      position: fixed;
      top: 0;
      z-index: 1;
      overflow: hidden;
      height: $layout-header-height;
      width: 100%;
    }

    .layout-content {
      margin-top: $layout-header-height;

      .layout-sidebar {
        position: fixed;
        top: $layout-header-height;
        width: $sidebar-width-max;

        &.layout-sidebar__resize {
          width: $sidebar-width-min;
        }
      }

      .main {
        padding: 2rem;
        height: calc(100vh - #{$layout-header-height} - 0.5rem);
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin-left: $sidebar-width-max;
        transition: margin 0.24s;

        @include genThemeStyle('box-shadow', $box-shadow-light);
        @include genThemeStyle('border', $border-base);

        &.main__resize {
          margin-left: $sidebar-width-min;
        }
      }
    }
  }
}
